.bgLogin-img {
    background-image: url('https://img.freepik.com/premium-photo/free-trendy-colors-soft-gradient-white-background-wallpaper_1000823-318677.jpg?ga=GA1.1.496232818.1723449551&semt=ais_hybrid');
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 300vh;
    

}